@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

/* font */
:root {
  --font-jost: var(--font-jost), system-ui, sans-serif;
}
body {
  font-family: var(--font-jost);
}
/* font */
@custom-variant dark (&:is(.dark *));

/* font */
:root {
  --font-jost: var(--font-jost), system-ui, sans-serif;
}
body {
  font-family: var(--font-jost);
}
/* font */
@theme {
  --color-primary: #222222;
  --color-accent: #d6001c;
  --color-secondary: #767676;
}

.custom-underline {
  @apply relative before:w-0 before:duration-300 hover:before:w-full before:h-0.5 before:absolute before:top-full before:left-0 before:bg-primary before:z-10;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
